@page
@model QuizApp.Pages.ResultModel
@{
	ViewData["Title"] = "Result";
}

<h4>Your Score: @Model.Score/@Model.Quizzies.Count</h4>
@{
	var requiredScore = Math.Ceiling(Model.Quizzies.Count / 2.0);
}
@if (@Model.Score >= requiredScore)
{
	<h5>Congrats! You passed!</h5>
}
else{
<a asp-page="/Index">
	<button>Try Again</button></a>
}
